{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Acceill</h1>
    <button>Ordre de route</button>
    <button>Bon Spécial de Transport</button>
    <button>Bon de saisie des engagements</button>
    <a href="{{path('bureau_index')}}"><button>Agence</button></a>
    <a href="{{path('employe_index')}}"><button>Missionnaire</button></a>
    <button>Mission</button>
    <button>Crédit</button>
    <button>Statistique</button>
    <button>Se deconnecter</button>
</div>
{% endblock %}
