{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ bse.num_bse }}</h1>
    <p>numero: {{ bse.num_bse }}</p>
    <a href="{{ path('bureau_edit', {id: bureau.id}) }}">Edit</a>
    <a href="{{ path('bureau_index') }}">Back to list</a>
{% endblock %}
